#imagem-topo{
    background-color: #ADD8E6; 
    text-align: center;
}
footer{
    background-color: #ADD8E6;
    text-align: center;
    
}

h1,h2{
    font-size: 20px;
    text-align: center;
    padding: 5px;
} 
p{
    padding: 5px;
    font-size: 16px;
    text-align: justify;
    font-family: arial;
    

} 



/*<!--  <style type="text/css"> 
                h1,h2{
                    font-family: arial; <- Formatacao do texto em tela
                    color: blue; <- Alterar a cor do texto em tela
                }
                p{
                    font-family: arial;
                    font-size: 18px;  <- Altera o tamanho do texto em tela *px* é o pixel da tela. 
                    color: red; 
                }
                 #imagem-topo{ <- referencia ao ID mencionado no Figure
                 background-color: #ADD8E6; <- Parametro para inserir cor de fundo ao imagem. '#xxxxx' = referencia a cor hexadecimal para o fundo da imagem
                 text-align: center; <- Alinhamento do texto ao centro da pagina
               }
                  footer{
                  background-color: #ADD8E6;
                  text-align: center;
              }
               p{
                padding: 5px; <- Alinhamento das Bordas
                font-size: 16px; <- Ajuste do Tamanho do Texto
                text-align: justify; <- Alinhamento do Corpo do Texto
                font-family: arial; <- Formatacao do Texto
          
        } 
            </style> --> */